

//修改左侧目录背景颜色
a.sidebar-link.active {
    color: #08a55e;
    background: #dbf0e5;
}
//修改右侧目录背景颜色
.right-menu-wrapper .right-menu-content .right-menu-item.active a {
    color: #3eaf7c;
    opacity: 1;
    background: #dbf0e5;
}
// 全文搜索框
.suggestions
  overflow: auto
  max-height: calc(100vh - 6rem)
  @media (max-width: 719px) {
    width: 90vw;
    min-width: 90vw!important;
    margin-right: -20px;
  }
  .highlight
    color: $accentColor
    font-weight: bold
// markdown blockquote
blockquote
  font-size 1rem
  color #2c3e50 !important
  border-left .5rem solid #42b983
  background-color #f3f5f7
  margin 1rem 0
  padding 1rem 0 1rem 1rem
  opacity: 1;




& > p
  margin 0

// markdown h1
h1
  font-size 2rem
  padding-bottom 0.5rem
  border-bottom 1px solid $borderColor

// markdown h2
h2
 font-size 1.65rem
 padding-bottom 0.5rem
 border-bottom 0px solid $borderColor
h3
  font-size 1.3rem
  padding-bottom 0.5rem
  border-bottom 0px solid $borderColor

h4
  font-size 1rem
  padding-bottom 0.5rem
  border-bottom 0px solid $borderColor

.custom-block
  .custom-block-title
    font-weight 600
    margin-bottom -0.4rem
  &.tip, &.warning, &.danger
    padding .1rem 1.5rem
    border-left-width .5rem
    border-left-style solid
    margin 1rem 0
  &.tip
    background-color #dfefff
    border-color #428eb9

// logo
.navbar
  .logo
    height $navbarHeight - 1.6rem
    min-width $navbarHeight - 1.6rem
    margin-right 0rem
    vertical-align top



