
//导入选项卡默认主题
@require '~vuepress-plugin-tabs/dist/themes/default.styl'


//修改右侧目录背景颜色
.right-menu-wrapper .right-menu-content .right-menu-item.active a {
    color: #3eaf7c;
    opacity: 1;
    background: #dbf0e5;
}



