
#app .navbar .home-link span:before{
    display: inline-block;
    content:'';
    width: 3rem;
    height:2.4rem;
    background:url('../img/01.png') no-repeat;
    background-size:100% 100%;
    vertical-align: middle;
}

